@CHARSET "UTF-8";

background:#01a786;
table th {
	background:#01a786;
	padding: 90px;
}

#list {
	float: left;
	width: 40%;
}

#detail {
	float: left;
	width: 60%
}

#insertBlock {
	margin: 5px 1px
}

div.expense_list{
	float: center;
}
div .error {
	color: red;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
button#saveExpense{

}

